<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61973596400-brehs3sq4ep1fckl8okb25h8ol988g70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61973596400-brehs3sq4ep1fckl8okb25h8ol988g70</string>
	<key>API_KEY</key>
	<string>AIzaSyC277d4aINF3vcGD5gDq_wv6v6Ag5oGrag</string>
	<key>GCM_SENDER_ID</key>
	<string>61973596400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hula05.MessageLearn</string>
	<key>PROJECT_ID</key>
	<string>gomuko-task</string>
	<key>STORAGE_BUCKET</key>
	<string>gomuko-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61973596400:ios:638e709d38100b0de6da35</string>
</dict>
</plist>